<div class="card shadow rounded-lg p-5">
  <div data-wrapper></div>
  <form>
    <input class="my-2 form-control" type=email id=to placeholder=To required>
    <input class="my-2 form-control" type=text id=subject placeholder=Subject>
    <textarea id=body class="my-2 w-100 form-control" placeholder=Body></textarea>
    <input type=button data-button=outline value="Generate" class="shadow-sm my-2 form-control btn btn-primary float-left" onclick=buildString()>
  </form>
  <a target="_blank" href="#" class="d-block" id=link></a> 
</div>