html,
body {
  font-family: 'Lato', sans-serif;
}
pre {
  transition: opacity .2s ease-in-out;
}
pre:empty {
  opacity: 0;
}
[data-button] {
  display: block;
  margin: 0 auto;
  width: auto !important;
}

.error {
  border-color: indianred !important;
}

.gradient {
  background: #333;
  color: #fff;
}

@-webkit-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}